# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# Raw downloaded data
data/raw/

# Keep processed folder structure
!data/processed/
data/processed/*
!data/processed/.gitkeep
